/*this is external css page of contact page
which includes basic css to its*/
body {
    background-color: indianred;
}
/*heading are customize with text shadow and align to center with hover effect*/
h1 {
    text-align: center;
    color: black;
    text-shadow: 1px 1px 2px red, 0 0 25px yellow, 0 0 5px green;
}
h1:hover {
    background-color: aqua;
}
/*form are centered with flex*/
.form-center {
    display: flex;
    justify-content: center;
}
/*all inputs field have seperate space and hover effect to its*/
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
input:hover {
    background-color: aqua;
}
/*textarea have separate space and hover effect to its*/
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea:hover {
    background-color: aqua;
}
/*button contain hover effect*/
button {
    width: 100%;
    background-color: lightgreen;
    color: black;
    padding: 15px 20px;
    margin: 7px 0;
    border: 3px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: x-large;
    font-weight: bold;
    font-stretch: expanded;
    cursor: pointer;
} 
button:hover {
    background-color: greenyellow;
}